services:
  workspace:
    build:
      dockerfile: Dockerfile
      context: .
    volumes:
      - ..:/workspace.suite
      - vscode:/home/vscode
      - /var/run/docker.sock:/var/run/docker.sock
    command: sleep infinity
    environment:
      EPGW_URL: http://localhost:8080
      EPGW_USERNAME: ${GITHUB_USER}
      EPGW_PASSWORD: ${GITHUB_TOKEN}
    env_file: ".env"

  # Hosts the Eggplant Fusion Engine in Debug Adapter mode in a service container
  # called fusionengine
  fusionengine:
    image: "quay.io/eggplantsoftware/fusion-engine:25.4.0"
    volumes:
      - ..:/workspace.suite
      - vscode:/home/vscode
    command: -drivePort 5400 -dapport 4711 -DisableEACPolling YES
    environment:
      EGGPLANT_ACCEPT_EULA: ${EGGPLANT_ACCEPT_EULA}
      EGGPLANT_ACCEPT_PRIVACY_AGREEMENT: ${EGGPLANT_ACCEPT_PRIVACY_AGREEMENT}
      EGGPLANT_LICENSE_KEY: ${EGGPLANT_LICENSE_KEY}
    network_mode: "service:workspace"

  # Hosts the Eggplant Gateway in a service container
  # called epgw
  epgw:
    image: "quay.io/eggplantsoftware/epgw:25.4.10-0071"
    command: service --enableMcp
    volumes:
      - ../connections:/root
    environment:
      EPGW_USERNAME: ${GITHUB_USER}
      EPGW_PASSWORD: ${GITHUB_TOKEN}
      ASPNETCORE_Kestrel__Endpoints__Http__Url: "http://0.0.0.0:8080"
    network_mode: "service:workspace"
volumes:
  vscode:
