name: CI

on:
  push:
  pull_request:

jobs:
  run-script:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/keysight-eggplant/eggplant-studio-quickstart:features-docker
    steps:
      - uses: actions/checkout@v4
        with:
          path: 'Eggplant.suite'
      - name: Install license
        run: |
          defaults write Eggplant AcceptEULA YES
          defaults write Eggplant AcceptPrivacyAgreement YES
          defaults write Eggplant GSBackend libgnustep-headless
          defaults write Eggplant BonjourDiscoveryEnabled false
          runscript -LicenseKey "${EGGPLANT_LICENSE_KEY}"
        env:
          EGGPLANT_LICENSE_KEY: ${{ secrets.EGGPLANT_LICENSE_KEY }}
      - name: Run script
        run: |
          /usr/GNUstep/Local/Applications/Eggplant.app/Resources/epgw/x64/bin/epgw --version
          /usr/GNUstep/Local/Applications/Eggplant.app/Resources/epgw/x64/bin/epgw runscript tutorial ../Scripts/Tutorial.script --results-file ../Results/junit-report.xml
        working-directory: Eggplant.suite/connections
      - uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ github.run_id }}
          path: Eggplant.suite/Results
        if: always()
